* {
  margin: 0;
  justify-content: center;
}

body {
  background: #03001e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ec38bc, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ec38bc, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li:hover {
  background-color: lightpink;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.main-map-div {
  display: flex;
  flex-wrap: wrap;
}

.art-div {
  height: 300px;
  width: 300px;
  padding: 20px;
  margin: 40px;
  text-align: center;
  background: linear-gradient(to top, #000, #222) ;
  border-radius: 45px;
  box-shadow: 0 0 30px white;
  color: white;
}

.art-img {
  height: 200px;
  padding: 20px;
  background-color: rgb(136, 110, 76);
}

.art-title {
  font-weight: bold;
  font-size: 1.2em;
}

.art-medium {
  font-style: italic;
}

.this-art-div {
  padding: 20px;
  margin: 40px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  box-shadow: 10px 10px 20px grey;
  color: white;
}

.this-art-img {
  height: 500px;
  padding: 20px;
  background-color: white;
}

.this-art-title {
  font-weight: bold;
  font-size: 2.8em;
}

.this-art-desc {
  padding-top: 30px;
}

.admin-form {
  margin-top: 20px;
  padding: 30px;
  text-align: center;
  background-color: honeydew;
  box-shadow: 0 0 20px black;
}

.admin-art-div {
  height: 350px;
  width: 300px;
  padding: 20px;
  margin: 40px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 25px;
  box-shadow: 10px 10px 20px grey;
}

.flex {
  display: flex;
  margin: 20px;
}

.about-p {
  margin: 0 20px;
}

.about-quote {
  margin: 0 60px;
}

h2 {
  text-decoration: underline;
  text-align: center;
  color: white;
  margin-top: 50px;
}

.art-types-ul {
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 20px;
}

.art-types-li {
  padding: 0 10px;
}

.art-types-li:hover {
  background-color: rgb(102, 111, 231);
  cursor: pointer;
}