* {
  margin: 0;
}

body {
  background-color: rgb(252, 218, 255);
}

.header {
  background-color: rgb(86, 47, 112);
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.main-map-div {
  display: flex;
  flex-wrap: wrap;
}

.art-div {
  height: 300px;
  width: 300px;
  padding: 20px;
  margin: 40px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
}

img {
  height: 200px;
  padding: 20px;
  background-color: white;
}

.admin-form {
  text-align: center;
  margin: 10px;
}

.admin-in {
  margin: 10px;
}

.edit-btn {
}

.admin-art-div {
  height: 320px;
  width: 300px;
  padding: 20px;
  margin: 40px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
}