* {
  margin: 0;
}

body {
  background-color: rgb(252, 218, 255);
}

.header {
  background-color: rgb(86, 47, 112);
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

nav ul li:hover {
  background-color: lightpink;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.main-map-div {
  display: flex;
  flex-wrap: wrap;
}

.art-div {
  height: 300px;
  width: 300px;
  padding: 20px;
  margin: 40px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  box-shadow: 10px 10px 20px grey;
  color: white;
}

.art-img {
  height: 200px;
  padding: 20px;
  background-color: white;
}

.art-title {
  font-weight: bold;
  font-size: 1.2em;
}

.art-medium {
  font-style: italic;
}

.this-art-div {
  padding: 20px;
  margin: 40px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  box-shadow: 10px 10px 20px grey;
  color: white;
}

.this-art-img {
  height: 500px;
  padding: 20px;
  background-color: white;
}

.this-art-title {
  font-weight: bold;
  font-size: 2.8em;
}

.this-art-desc {
  padding-top: 30px;
}

.admin-form {
  margin-top: 20px;
  padding: 30px;
  text-align: center;
  background-color: honeydew;
  box-shadow: 0 0 20px black;
}

.admin-art-div {
  height: 350px;
  width: 300px;
  padding: 20px;
  margin: 40px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 25px;
  box-shadow: 10px 10px 20px grey;
}

.flex {
  display: flex;
  margin: 20px;
}

.about-p {
  margin: 0 20px;
}

.about-quote {
  margin: 0 60px;
}

h2 {
  text-decoration: underline;
  text-align: center;
}